<form class="certification-form" (ngSubmit)="onSubmit()" #certificationForm="ngForm" novalidate>
    <div class="certification-card">
      <h2>Certification Request</h2>
  
      <div *ngIf="requestMessage" class="request-message alert">
        {{ requestMessage }}
      </div>
  
      <!-- <div *ngIf="formSubmitted && certificationForm.invalid" class="error-message">
        Please fill in all required fields.
      </div> -->
  
      <div class="form-field">
        <label for="certificationDate">Date</label>
        <input type="text" id="certificationDate" [(ngModel)]="model.certificationDate" name="certificationdate" required />
      </div>
  
  
      <div class="form-field">
        <label for="certificationName">Certification Name</label>
        <input type="text" id="certificationName" [(ngModel)]="model.certificationName" name="certificationName" required />
      </div>
  
      <div class="form-field">
        <label for="justification">Justification</label>
        <textarea id="justification" [(ngModel)]="model.justification" name="justification" required></textarea>
      </div>
  
      <div class="form-actions">
        <button class="submit-button" type="submit" [disabled]="certificationForm.invalid">Request Certification</button>
    </div>
    </div>
  </form>
  