<div class="about-us">
  <div class="card">
      <div class="card-content">
        <h2 class="title">About us</h2>
        <p class="text">
          Welcome to TalentSphere, your one-stop destination for managing internal resources at KPMG. This application empowers HR teams to efficiently manage employee information, handle recruitment processes, and facilitate resource requests from owners and directors for both full-time and contract positions. Additionally, TalentSphere enables the management of internal employee skills, including technology competencies and certifications, which are continuously updated and approved by managers.
      </p>
      
      <p class="text">
        At the heart of TalentSphere lies a passionate team of innovators dedicated to transforming resource management at KPMG. With a diverse array of skills and a shared vision for excellence, these developers have come together to create a powerful platform that simplifies recruitment and elevates employee development. Join us in celebrating the creativity and commitment of the minds behind TalentSphere, where every line of code is crafted with purpose!
    </p>
    
    <h3>Meet the Team</h3>
      <div class="team-grid">
        <div class="team-member" *ngFor="let member of teamMembers">
          <p>{{ member.name }}</p>
        </div>
      </div>
    
      </div>
  </div>
</div>
