
<header class="navbar">
    <img src="images/logo.png" class="logo" alt="Logo">
    <h2 class="Title">TalentSphere</h2>
  <nav>
    <ul>


      <!-- { path: 'application', component: ApplicationComponent },
      { path: 'request-certification', component: CertificationRequestComponent },
      { path: 'mycertifications',component: EmployeeCertificationDashboardComponent,},
      { path: 'certifications', component: CertificationDashboardComponent },
      { path: 'application-dashboard', component: ApplicationDashboardComponent },
      { path: 'applicant-dashboard', component: ApplicantDashboardComponent }, -->
    

      
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/contact">Contact Us</a></li>
      <li><a routerLink="/login">Login/Register</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/director">Director</a></li>
      <li><a routerLink="/hrportal">HR Portal</a></li>
      <li><a routerLink="/application">application</a></li>
      <li><a routerLink="/request-certification">request-certification</a></li>
      <li><a routerLink="/mycertifications">mycertifications</a></li>
      <li><a routerLink="/certifications">certifications</a></li>
      <li><a routerLink="/application-dashboard">application-dashboard</a></li>
      <li><a routerLink="/applicant-dashboard">applicant-dashboard</a></li>
      <li><a routerLink="/projects">projects</a></li>
    </ul>
  </nav>
</header>

<!-- <app-director></app-director>
<app-hrportal></app-hrportal> -->
<router-outlet></router-outlet>