
<header class="navbar">
    <img src="images/logo.png" class="logo" alt="Logo">
    <h2 class="Title">TalentSphere</h2>
  <nav>
    <ul>
      
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/contact">Contact Us</a></li>
      <li><a routerLink="/login">Login/Register</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/director">Director</a></li>
      <li><a routerLink="/hrportal">HR Portal</a></li>
    </ul>
  </nav>
</header>

<!-- <app-director></app-director>
<app-hrportal></app-hrportal> -->
<router-outlet></router-outlet>