<h2 class="heading">Home Page</h2>
<div class="home">


    <main class="content">
        
        <p>
            This is the home page of our application. Here you can find various features and information about our
            services.
            Our application is designed to help you calculate taxes efficiently.
        </p>
        <p>
            Explore the navigation links to learn more about what we offer and how we can assist you.
        </p>
        <button class="explore-button">Explore More</button>
    </main>
</div>