<div class="text">
    <form class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="login-card">
            <h2>Login</h2>

            <div class="form-field">
                <label for="username">Username</label>
                <input type="text" id="username" required [(ngModel)]="model.username" name="username" />
                <div class="error-message" *ngIf="loginForm.controls['username']?.invalid && (loginForm.controls['username']?.touched || loginForm.controls['username']?.dirty)">
                    Username is required.
                </div>
            </div>

            <div class="form-field">
                <label for="password">Password</label>
                <input type="password" id="password" required [(ngModel)]="model.password" name="password" />
                <div class="error-message" *ngIf="loginForm.controls['password']?.invalid && (loginForm.controls['password']?.touched || loginForm.controls['password']?.dirty)">
                    Password is required.
                </div>
            </div>

            <!-- Success/Failure Message Display -->
            <div *ngIf="loginMessage" class="login-message" [ngClass]="{'success': isSuccess, 'error': !isSuccess}">
                {{ loginMessage }}
            </div>

            <p class="register-text">
                <a href="/register" class="register-link">New user? Register here</a>
            </p>

            <button class="submit-button" type="submit" [disabled]="loginForm.invalid">Submit</button>
        </div>
    </form>
</div>
